<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Lorrayne Calazans Braga</h1>
  <h2>Estudante de ADS da turma ADS0301M. Tenho 21 anos e sou tutora de três gatos.</h2>
  <img src="https://i.imgur.com/TjmcXcr_d.webp?maxwidth=760&fidelity=grand" 
       alt="Minha foto" 
       style="width: 200px; height: auto;"> <!-- Ajuste a largura conforme necessário -->

  <ion-button routerLink="/home">Voltar para Home</ion-button>
  <ion-button routerLink="/gatos">Ir para Gatos</ion-button>
</ion-content>
